/* 
--paradise-pink: #ef476fff;
--mint: #05b384ff;
--orange-yellow-crayola: #ffd166ff;
--blue-ncs: #118ab2ff;
--midnight-green-eagle-green: #17414fff;
--azure-x-11-web-color: #daf3fcff; */

/* general styles */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #daf3fc;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.MuiContainer-root {
  overflow: hidden;
}

/* landing */

.landing {
  color: #17414f;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: stretch;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.landing-img-container img {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}

/* login and register */

.infoBox {
  text-align: center;
}

.link {
  color: blue;
}

.error-msg {
  color: red;
}

/* logo */
.logo-container {
  text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 7vh;
}

.logo-text {
  font-size: 7.5vh;
}

.red-text {
  color: #ef476f;
}

.blue-text {
  color: #118ab2;
}

/* more.... */

.main-page {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 11% 80% 9%;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.user-icon {
  height: 100%;
  width: 100%;
  display: grid;
  text-align: center;
}

.user-icon img {
  width: 50px;
  height: auto;
  justify-self: center;
  border-radius: 50%;

}
