* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.landing{
  color: rgb(45, 138, 138);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: stretch;
  text-align: center;
}

.main-page {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 11% 80% 9%;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.user-icon {
  height: 100%;
  width: 100%;
  display: grid;
  text-align: center;
}

.user-icon img {
  width: 40%;
  height: auto;
  justify-self: center;
}
